<nav>
    <ul class="c-tags">
        {% if page.fileSlug == "recipes" %}
            <li class="c-tags__tag c-tag__tag--selected">{{ title }}{{ allRecipesLabel }}</li>
        {% else %}
            <li><a class="c-tags__tag" href="/recipes">{{ title }}{{ allRecipesLabel }}</a></li>
        {% endif %}
        {% for tagItem in collections.tagList %}
            {% if selectedTag == tagItem %}
                <li class="c-tags__tag c-tag__tag--selected">{{ tagItem }}</li>
            {% else %}
                <li><a class="c-tags__tag" href="/tags/{{ tagItem | noEmoji | slug }}">{{ tagItem }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>