.l-container {
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 18px;
    padding-right: 18px;
}

.l-header, .l-footer {
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.l-footer {
    margin-top: auto;
}