.u-hide {
    display: none !important;
}

.u-show {
    display: initial !important;
}

.u-sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.u-print-only {
    display: none !important;
}

@media print {
    .u-print-only {
        display: initial !important;
    }
}


.u-bgc-grey-100 {
    background-color: var(--color-grey-100);
}

.u-highlight {
    background-color: rgba(250, 243, 145, 0.5);
}

.u-free-text {
    p, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 18px;
    }

    img {
        margin: 20px auto;
    }
}

.u-mb-large {
    margin-bottom: 30px;
}